<div id="patients" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

     <!-- CENTER -->
     <div class="center">
         <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    business
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Patients
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for a patient">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/pages/patients/new'" 
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>Add New Patient</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
                <mat-table class="products-table"
                            #table [dataSource]="dataSource"
                            matSort
                            [@animateStagger]="{value:'50'}"
                            fusePerfectScrollbar>

                <!-- pasNumber Column -->
                <ng-container matColumnDef="pasNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Pas Number</mat-header-cell>
                    <mat-cell *matCellDef="let patient">
                        <p class="text-truncate">{{patient.pasNumber}}</p>
                    </mat-cell>
                </ng-container>

                <!-- forenames Column -->
                <ng-container matColumnDef="forenames">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fore Names</mat-header-cell>
                    <mat-cell *matCellDef="let patient">
                        <p nclass="text-truncate">{{patient.forenames}}</p>
                    </mat-cell>
                </ng-container>

                <!-- surname Column -->
                <ng-container matColumnDef="surname">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Surname</mat-header-cell>
                    <mat-cell *matCellDef="let patient">
                        <p nclass="text-truncate">{{patient.surname}}</p>
                    </mat-cell>
                </ng-container>

                <!-- dateOfBirth Column -->
                <ng-container matColumnDef="dateOfBirth">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Date Of Birth</mat-header-cell>
                    <mat-cell *matCellDef="let patient" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{patient.dateOfBirth}}</p>
                    </mat-cell>
                </ng-container>

                <!-- sexCode Column -->
                <ng-container matColumnDef="sexCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Sex Code</mat-header-cell>
                    <mat-cell *matCellDef="let patient" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{patient.sexCode}}</p>
                    </mat-cell>
                </ng-container>

                <!-- homeTelephoneNumber Column -->
                 <ng-container matColumnDef="homeTelephoneNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Home Telephone Number</mat-header-cell>
                    <mat-cell *matCellDef="let patient" fxHide fxShow.gt-xs>
                        <p class="text-truncate">{{patient.homeTelephoneNumber}}</p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let patient; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/pages/patients/'+patient.id">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
        </div>
        <!-- / CONTENT CARD -->

     </div>
</div>
